.body{
    background:#fff;   
    margin-left: 300px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    
}

.title-container{
    width:100%;
    
}

.selector h5{
    font-size:1.1rem;
    font-weight: 200;
    padding-bottom: 20px;
}

.selector-item{
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.items{
    justify-content: center;
    width: 80px;
    display: inline-block;
    font-weight: 200;
}

table{
    width:90%;
    background: var(--mainWhite);
    border-radius: 10px;
}

td{
    padding: 20px;
}

.pending{
    background:var(--red);  
    padding: 10px;
    font-weight: 900;
    font-size:0.7rem;
    text-align: center !important;
    margin-block: 0;
    letter-spacing: 1px;
    font-weight:bold;
    color:#fff;
    border-radius: 5px;
    width: 80px;
    box-shadow: 1px 2px 15px -2px grey;
    display:inline;
}

.completed{
    background: var(--secondaryBlue);    
    padding: 10px;
    font-weight: 900;
    font-weight:bold;
    color:#fff;
    font-size:0.7rem;
    text-align: center !important;
    margin-block: 0;
    letter-spacing: 1px;
    border-radius: 5px;
    width: 80px;
    box-shadow: 1px 2px 15px -2px grey;
    display:inline;
    
}

textarea{
    width: 300px !important;
    height: 200px;
}

.btn-container{
    display:flex;
    flex-direction: column;
}

.btn-container button{
    width: 150px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
    font-weight: 800;
    font-size: 1rem;
    font-family: 'Arima', cursive;
    transition: 0.6s ease all;
}

.btn-container button:hover{
    transform: scale(1.1);
}

.btn-submit{
    background: var(--lightBlue)
}

.item{
    width: 400px;
    height: 80px;
    background: var(--blue);    
    padding:20px;
    box-shadow: 0px 0px 10px -2px grey;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

h3{
    font-size:1.2rem;
    font-weight: 200;
    letter-spacing: 1px;
    color: var(--mainWhite)
}

.data{
    color: var(--mainWhite);
}

mat-icon{
    transform: scale(4);
    display: block;
    padding: 20px;
    color: var(--mainWhite);
}

input{
    display: none;
}


label{
    font-size: 1.5rem;
    color:var(--mainWhite);
    background: var(--lightBlue);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px grey;
    cursor: pointer;
}

input:checked + label{
    color:white;
    background: var(--red);
    padding: 5px;
    
    box-shadow: 0 0 10px grey;
    
}

hr{
    width:90%
}

.selector-container{
    display:flex;
    align-items:center;
    margin-top:20px;
}

.status-container{
    margin-top: 20px;
    margin-bottom:20px;
}