.sidebar{
    width: 250px;
    height: 100%;
}

.body{
    background:var(--mainWhite);
    width: 100%;   
    min-height: 106vh;
    display: flex;
    justify-content: center;
    padding-left: 250px;
}

.product-container{
    display:flex;
    flex-direction: row;
    justify-content: justify;
    align-items: center;
    
}

.selector{
    justify-content: baseline !important;
}

.selector h5{
    font-size:1.1rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.selector-item{
    padding-bottom: 10px;
    
    
}
.item{
    justify-content: center;
    width: 80px;
    display: inline-block;
    font-weight: 800;
}

td{
    padding: 20px;
}

.body h1{
    color: var(--red)
}

.container{
    display: flex;
    flex-direction: row;
}

textarea{
    width: 300px !important;
    height: 200px;
}

.btn-container{
    display:flex;
    flex-direction: column;

}

.btn-container button{
    width: 150px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 2px 1px grey;
    font-weight: 800;
    font-size: 1rem;
    font-family: 'Arima', cursive;
    transition: 0.6s ease all;
}

.btn-container button:hover{
    transform: scale(1.1);
}

.btn-submit{
    background: var(--lightBlue)
}