
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Dancing+Script&family=EB+Garamond&family=Splash&display=swap');

.navbar{
    position:fixed;
    background: var(--secondaryBlue);
    margin-top: 40px;
    width: 100%;
    height: 60px;
    
    
    padding-right: 15px;
    justify-content: center;
    box-shadow: 0 1px 1px 0 var(--secondaryBlue);
}

.body{
    background: linear-gradient(180deg, var(--blue) ,var(--secondaryBlue), );
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    color: var(--mainWhite);
    letter-spacing: 4px;
    font-size: 5rem;
    font-weight: 800;
    text-shadow: 3px 3px 3px rgb(126, 122, 122);
}

.center h1{
    display: inline;
    color: var(--mainWhite);
}

#welcome{
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-style: italic;
    font-size:5.1rem;
    color: var(--lightBlue);
    transform: translate(-700px,-420px);
    animation-fill-mode: forwards;
    opacity: 0;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    letter-spacing: 1px;
    animation-name: showing-title;
}

@keyframes showing-title {
    40%{
        transform: translate(-500px,-320px);
    }
    75%{
        opacity: 1;
        transform: translate(-320px,-140px);
    }
    100%{
        opacity: 1;
        transform: translate(-280px,-120px);
    }
}

#coa{
    font-size: 10rem;
    font-family: 'Oswald', sans-serif;
    transform: translate(-700px,-20px);
    animation-fill-mode: forwards;
    opacity: 1;
    animation-duration: 3s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in;
    letter-spacing: 1px;
    animation-name: showing-title2;
}

@keyframes showing-title2 {
    100%{
        
        opacity: 1;
    }
}

.catalogue{
    margin: 0;
    position: absolute;
    bottom: 30px;    
    right: 60px; 
    border-radius: 2px;
       
    cursor: pointer;
    transition: 0.7s ease all;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogue a{
    text-decoration: none;
    color: rgb(255,255,255,0.6);
    text-shadow: 2px, 2px, 7px var(--blue);
    border: 1px var(--blue);
    letter-spacing: 2px;
    transition: 0.7s ease all;
}

.catalogue a:hover{
    color: var(--mainWhite);
}

.catalogue a h2{
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    transform: translateY(-4px)
}

.catalogue:hover{
    transform: scale(1.1);

}

.developed-by{
    position: absolute;
    left: 50px;
    bottom: 38px;
    color: var(--mainWhite);
    letter-spacing: 1px; 
}