
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Dancing+Script&family=EB+Garamond&family=Splash&display=swap');


.body{
    background: linear-gradient(180deg, var(--blue) ,var(--secondaryBlue), );
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    color: var(--mainWhite);
    letter-spacing: 4px;
    font-size: 5rem;
    font-weight: 800;
    text-shadow: 3px 3px 3px rgb(126, 122, 122);
}

.center h1{
    display: inline;
    color: var(--mainWhite);
}

#welcome{
    position: absolute;
    font-family: 'Dancing Script', cursive;
    
    font-size:6rem;
    color: var(--lightBlue);
    transform: translate(-700px,-20px);
    animation-fill-mode: forwards;
    opacity: 0;
    animation-duration: 3s;
    animation-timing-function: ease;
    letter-spacing: 1px;
    animation-name: showing-title;
}

@keyframes showing-title {
    75%{
        opacity: 1;
        transform: translate(-320px,-20px);
    }
    100%{
        opacity: 0;
        transform: translate(-320px,-20px);
    }
}

#coa{
    font-size: 10rem;
    font-family: 'EB Garamond', serif;
    transform: translate(-700px,-20px);
    animation-fill-mode: forwards;
    opacity: 1;
    animation-duration: 3s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in;
    letter-spacing: 1px;
    animation-name: showing-title2;
}

@keyframes showing-title2 {
    100%{
        
        opacity: 1;
    }
}

.catalogue{
    position: absolute;
    bottom: 10px;
    right: 70px;
    color: var(--mainWhite);
    text-shadow: 2px, 2px, 7px black;
    
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s ease all;
}

.catalogue a{
    text-decoration: none;
    color: var(--mainWhite);
}

.catalogue:hover{
    transform: scale(1.1);    
}