.body{
    background: linear-gradient(180deg, rgb(71 85 105) ,rgb(56, 56, 56), );
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.catalogue{
    position: absolute;
    bottom: 10px;
    right: 70px;
    color: white;
    text-shadow: 2px, 2px, 2px rgb(138, 143, 150);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s ease all;
}

.catalogue a{
    text-decoration: none;
    color: #fff;
}

.catalogue:hover{
    transform: scale(1.1);    
}