<div class="header">
    <app-header></app-header>
</div>
<div class="body">
    <div class="search">
        <div>
            <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Search</mat-label>
                  <input matInput placeholder="Search by product">
                  <mat-icon matSuffix>search</mat-icon>
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </p>

        </div>
        <hr class="search-line">
    </div>
    <div class="items-container">
        <div class="items">
            hola
            <div class="img-container"></div>
        </div>
    </div>
</div>

