.white{
    min-width:100%;
    min-height:20px;
    background: #fff;

    top:0;
    z-index: 100;
}

.something{
    display:flex;
    justify-content: center;
    width:100%;
    align-items: center;
    height: 300px;
}

.navbar{
    position:fixed;
    background: var(--secondaryBlue);
    top:20px;
    width: 100%;
    height: 60px;
    z-index: 100;
    
    padding-right: 15px;
    justify-content: center;
    box-shadow: 0 1px 1px 0 var(--secondaryBlue);
}

.body{
    padding-top: 15vh;
}

.search{
    display:flex;
    justify-content: justify;
    flex-direction: column;
    margin-left: 107px;
}


mat-form-field{
    width: 240px;
}


.search-line{
    width:80%;
}

.items-container{
    margin-top: 15px;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
}

.items{
    min-width: 250px;
    padding: 10px;
    min-height: 350px;
    box-shadow: 0px 1px 10px -2px grey;
    border-radius: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.item-values h2{
    text-align: center;
}

.item-values h3{
    color: var(--red);
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn-container button{
    padding: 10px;
    border-radius: 2px;
    border: none;
    font-size: 1rem;
    margin-right: 10px;
    font-weight: 200;
    transition: 0.6s ease all;
    box-shadow: 1px 1px 1px 1px grey;
}

.btn-container button:hover{
    transform: scale(0.9);
}

.btn-container img{
    margin-right:5px;
}

.glass{
    width: 120px;
}

.img-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 185.36px;
}

.img-container img{
    user-select: none;
}

.addToCart{
    background: var(--red);
    cursor: pointer;
}

.infoBtn{
    background: var(--secondaryBlue);
    cursor: pointer;
}

.disabled{
    background: rgb(199, 86, 86, 0.5);
    cursor: not-allowed!important;
}

.disabled:hover{
    transform: scale(1)!important;
}