<div class="white"></div>
<div class="navbar">
    <app-header [numberCart]="numberForCart"></app-header>
</div>
<div class="body">
    <div class="search">
        <div>
            <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Search</mat-label>
                  <input name="filterByName" [(ngModel)]="filterByName" matInput placeholder="Search by product">
                  <mat-icon class="icon-search" matSuffix>search</mat-icon>
                  
                </mat-form-field>
              </p>

        </div>
        
    </div>
    
    <div *ngIf="products$|async else loading" class="loading">        
    </div>
    
    <ng-template #loading ><div class="something"><div class="loading"><app-loader></app-loader></div> </div></ng-template>
    <div class="items-container">
        
        <div class="items" *ngFor="let item of products$ | async | filterName: filterByName">
            
            <div class="img-container">
                <img *ngIf="item.image ;else ejemplo"class="glass" src="{{item.image}}">
                <ng-template #ejemplo><img  class="glass" alt="imagen de Ejemplo" src="../../../../../assets/vaso.jpg"></ng-template>
            </div>
            <div class="item-values">
                <h2>{{item.name}}</h2>
                <h3>{{item.price | currency : 'USD'}}</h3>
            </div>
            <div class="btn-container">
                <button *ngIf="inCart(item);else disabled" class="addToCart" (click)="addToCart(item,newOrder)"><img src="../../../../../assets/svgs/addToCart.svg">Add to cart</button>
                <ng-template #disabled><button  class="disabled"><img src="../../../../../assets/svgs/addToCart.svg">In cart</button></ng-template>
                <button class="infoBtn"><img src="../../../../../assets/svgs/info.svg">Info</button>
            </div>
        </div>
    </div>
</div>

