.body{
    background:#fff;
    width: 100%;   
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-left: 250px;
    align-items: center;
}

.title1{
    width: 100%;
    display:flex;
    margin-left:100px;
    flex-direction: column;
}

mat-form-field{
    width:700px;
}



.body h1{
    color: var(--red)
}

.container{
    display: flex;
    flex-direction: row;
}

textarea{
    width: 300px !important;
    height: 200px;
}

.btn-container{
    display:flex;
    flex-direction: column;

}

.btn-container button{
    width: 150px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px -2px grey;
    font-weight: 800;
    font-size: 1rem;
    font-family: 'Arima', cursive;
    transition: 0.6s ease all;
    
}

.btn-container button:hover{
    transform: scale(1.1);
}

.btn-submit{
    background: var(--lightBlue)
}

.btn-container img{
    width:150px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

#fileSelector{
    display: none;
}

.labelFileSelector{
    padding: 10px;
    background: var(--mainWhite);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 20px -2px var(--secondaryBlue);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    width: 130px;
    transition: 0.6s ease;
    margin-bottom: 15px;
    user-select: none;
    font-weight: 800;
    font-size: 1rem;
    font-family: 'Arima', cursive;
}

.labelFileSelector:hover{
    background: rgb(236, 236, 236);
}

.labelFileSelector:active{
    transform: scale(0.9);
}

.labelFileSelector mat-icon{
    padding-left: 5px;
    
}

.btn-submit-disabled{
    cursor: not-allowed;
}
