.navbar{
    color: var(--mainWhite);;
    background: transparent;
    position: fixed;
    letter-spacing: 1px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items:center;
    transform: translateY(-10px);
}

.buttons{
    position: absolute;
    right: 140px;
    top: 23px;
    display: flex;
    flex-direction: row;
}


.btns{
    font-size: 1rem;
    font-weight: 200;
    background-color: transparent;
    color: var(--mainWhite);
    padding: 7px;
    margin-left: 30px;
    border:none;
    
    transition: 0.6s ease;
}

.btns:hover{
    transform: scale(0.95); 
}

.cart{
    width: 30px;  
    
   
}

.cart-container{
    transition: 0.5s all ease;
    cursor: pointer;
    position: absolute;
    right: 80px;
    top: 24px;
}

.cart-container:hover{
    transform: scale(1.1);
}

.number-cart{   
    color: var(--lightBlue); 
    font-size: 0.9rem;  
    font-weight: 800; 
    transform: translate(5.7px,-2.98px)
}

.number-container{
    background-color: var(--red);
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius:50%;
    transform: translate(18px, -60px);
}



.admin:hover{
    font-size: 1rem;    
    transform: scale(1.1); 
    font-size: 1rem;
    width: max-content;
    border-radius:10px;
 
}

.cartApp{
    transform: translateY(-5px);
    font-weight: 200;
}