.navbar{
    color: white;
    background: transparent;
    position: fixed;
    letter-spacing: 1px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}


.cart{
    width: 30px;
    position: absolute;
    right: 70px;
    top: 28px;
    cursor: pointer;
    transition: 0.5s all ease;
}

.cart:hover{
    transform: scale(1.1);
}

.number-cart{   
    color: var(--blue);    
    font-weight: 800; 
    transform: translate(5px,-18px)
}

.number-container{
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius:50%;
    right: 63px;
    top: 20px;
    position: absolute;
}