<div class="container">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="body">
      <app-date></app-date>
        <div class="title"><h1>Products Administration</h1> <img src="./../../../../../assets/products.png"></div>
        <div class="product-container">
            
            <div class="newproduct">
              <button (click)="navigateToNew()" class="btn-new"> <mat-icon>add</mat-icon> New Product</button>
            </div>
            <div *ngIf="products$|async else loading" class="loading"> 
            <table>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                  </tr>
                  
                </thead>
                
                <tbody>
                         
                  
                  
                  <tr *ngFor = "let item of products$ | async; let i = index">
                    <th scope="row">{{i}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.price|currency: 'USD'}}</td>
                    <td>
                        <div class="btn-container">
                            <button class="btn btn-edit" (click)="onGoToEdit(item)"> <img src="../../../../../assets/svgs/edit.svg" alt=""> Edit</button>
                            <button class="btn btn-delete" (click)="onGoToDelete(item.id)"> <img src="../../../../../assets/svgs/thrash.svg" alt=""> Delete</button>
                        </div>
                   </td>
                  </tr>
                  
                </tbody>  
            </table>
            
          </div>
          <ng-template #loading ><div class="something"><div class="loading"><app-loader [display]="1"></app-loader></div> </div></ng-template>
        </div>
        
    </div>
</div>