.contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title{
    background: var(--secondaryBlue);
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    padding:10px;
    border-radius:20px;
    display:flex;
    justify-content:space-between;
    color: var(--mainWhite);
}

.img-container img{
    width: 200px;
    right: 90px;
    top: -20px;
    position:absolute;
}

.title h1{
    padding-left: 15px;
}

.loading{
    display:flex;
    height: 400px;
    justify-content:center;
    align-items: center;
}

.pending{
    background:var(--red);  
    padding: 10px;
    font-weight: 900;
    font-size:0.7rem;
    text-align: center !important;
    margin-block: 0;
    letter-spacing: 1px;
    font-weight:bold;
    color:#fff;
    border-radius: 5px;
    width: 80px;
    box-shadow: 1px 2px 15px -2px grey;
}

.completed{
    background: var(--secondaryBlue);    
    padding: 10px;
    font-weight: 900;
    font-weight:bold;
    color:#fff;
    font-size:0.7rem;
    text-align: center !important;
    margin-block: 0;
    letter-spacing: 1px;
    border-radius: 5px;
    width: 80px;
    box-shadow: 1px 2px 15px -2px grey;
}

.body{
    background:#fff;
    flex-direction:column;
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}

.jaja{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.btn-container{
    justify-items: center;

}

.product-container{
    display:flex;
    width:100%
}

.product-container h1{
    text-align: center
}

.btn-new{
    background: var(--lightBlue);
    align-items: center;
    border: none;
    box-shadow: 0 1px 2px 1px grey;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: 0.7s ease all;
    padding: 10px;
    font-size: 1rem;
    font-weight: 800;

}

.otro{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    width:90%;
    flex-direction:column;
}

.loading{
    position: absolute;
    left: 800px
}

.btn-new:hover{
    transform: scale(0.9);
    background: var(--secondaryBlue);
    color: var(--mainWhite);
}

.btn-new p{
    display: inline;
    transform: translateY(-10px);
}

.btn{
    margin:5px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px grey;
    font-weight: 600;
    font-size: 1rem;
    
    
    transition: 0.5s ease all;
    transform: scale(0.8);
    color: white;
}

.btn:hover{
    transform: scale(0.7);
}

.btn-edit{
    // background: rgb(247, 247, 82);
    background: var(--blue);
    
}

.btn-delete{
    background: var(--red);
}

table{

    min-width: 100%;
    border-radius: 10px;
    padding: 20px;
    background: var(--mainWhite);
    margin-bottom: 30px;
}

th{
    padding: 20px;
    
}

td{
    padding: 20px;
    text-align: center;
}

p{
    margin-left: 20px;
}

