/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&display=swap');

body{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    font-family: 'Arima', cursive !important;
}



.header{
    width: 100%;
    height: 13vh;
    position: fixed;
    background-color: var(--secondaryBlue);
    top: 0;
}

:root{
    --blue: #1D3357;
    --mainWhite: #F1FAEE;
    --secondaryBlue:#457B9D;
    --lightBlue:#A8DADC;
    --red:#E63946;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
