/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

body{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}
button{
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    cursor: pointer;
}


.header{
    width: 100%;
    height: 13vh;
    position: fixed;
    background-color: var(--secondaryBlue);
    top: 0;
    z-index: 100
}

:root{
    --blue: #1D3357;
    --mainWhite: #F1FAEE;
    --secondaryBlue:#457B9D;
    --lightBlue:#A8DADC;
    --red:#E63946;
    --fontFamilyP:'Arima', cursive;
}
html, body { height: 100%; }

